<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">

</head>

<body>
    <div id="top">
        <div id="top-btn">
            <input type="checkbox" id="btn-menu">
            <label id="lbl-menu" for="btn-menu"><img src="~/images/icone-btn-menu.png"> </label>
            <div id="menu">
                <ul>
                    <li class="link-pesquisa"><a href="/Home/Index">Home</a></li>
                    <li class="link-pesquisa"><a href="/Home/listarTodos">Listar Todos</a></li>
                    
                </ul>
            </div>
        </div>

        <div>
            <h1 id="titulo">Pesquisa CNPJ</h1>
        </div>
        <div>
            <p id="slogan"></p>
        </div>
    </div>
    <div id="principal">
    <div id="pesquisarCNPJ">
        <form method="post" action="@Url.Action("BuscarJson", "Home") ">
            <div class="form-row">

                <div class="form-group col-md-12">
                    <label >Dite o número do CNPJ que deseja!</label><br />
                    <label >OBS: Caso seja mais de um CNPJ, separar com ( ; ) ponto e vírgula.</label>
                </div>

                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="txtCNPJ" name="txtCNPJ">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="submit" class="btn btn-primary"  value="Pesquisar">    

                    </div>
            </div>
         </form>
    </div>
    

    </div>
    

</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>
